# Ignore pdfs in the saved figures folder
examples/saved_figures/*.pdf
examples/saved_figures/*.gif

# Ignore venv diretories
*venv*/

# Ignore .egg-info directory
*.egg-info/

# Ignore .vscode directory
*.vscode/

# Ignore any __pycache__ directories
**__pycache__**

# Ignore typical unwanted files
.DS_Store

# Ignore swp files
*.swp

# Ignore training files
logs/
models/